@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Plus Jakarta Sans Variable";
  font-display: swap;
  src: url("/fonts/PlusJakartaSansVariable.ttf") format("truetype");
}

* {
  scrollbar-color: #0f0f12 #000000;
}

*:focus {
  @apply outline-0 outline-offset-0 outline-transparent;
}

*::marker {
  @apply text-cyan-400;
}

svg {
  @apply shrink-0;
}
