@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bold";
  src: url("/fonts/Bold.ttf");
}

@font-face {
  font-family: "Medium";
  src: url("/fonts/Medium.ttf");
}

* {
  scrollbar-color: #18181b #000000;
}

*:focus {
  outline: none;
}
