@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: swap;
  font-family: "Bold";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Bold.ttf");
}

@font-face {
  font-display: swap;
  font-family: "Medium";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Medium.ttf");
}

* {
  scrollbar-color: #0f0f12 #000000;
}

*:focus {
  outline: none;
}

svg {
  flex-shrink: 0;
}
