@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

* {
  scrollbar-color: #0f0f12 #000000;
}

*:focus {
  @apply outline-0 outline-offset-0 outline-transparent;
}

*::marker {
  @apply text-cyan-400;
}

svg {
  @apply shrink-0;
}
